h1 {
  font-family: "Abril Fatface", cursive; }

.navbar-default {
  background-color: #ECF0F1;
  border: none;
  border-radius: 0; }

.homepage {
  background: url("/images/cover-background.jpg");
  background-size: cover; }
  .homepage .content {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    margin-left: 20em;
    color: white; }
    .homepage .content h1 {
      font-size: 5em; }
