h1 {
  font-family: "Abril Fatface", cursive; }

.navbar-default {
  background-color: #333;
  border: none;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    color: #FFFFFF; }
    .navbar-default .navbar-brand:hover {
      color: #D2D2D2; }

.homepage {
  background: url("/images/cover-background.jpg");
  background-size: cover; }
  .homepage .content {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    margin-left: 20em;
    color: white; }
    .homepage .content h1 {
      font-size: 5em; }

.begin-password-reset .content {
  text-align: center; }
  .begin-password-reset .content h1 {
    font-size: 3em; }

.reset-email-sent .content {
  text-align: center; }
  .reset-email-sent .content h1 {
    font-size: 3em; }

.reset-password .content {
  text-align: center; }
  .reset-password .content h1 {
    font-size: 3em; }

.password-reset-complete .content {
  text-align: center; }
  .password-reset-complete .content h1 {
    font-size: 3em; }

.signup .content {
  text-align: center; }
  .signup .content h1 {
    font-size: 3em; }

.feed {
  background: #DDD; }
  .feed .container {
    max-width: 32em; }
  .feed .new-post h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em; }
  .feed .new-post textarea {
    margin-bottom: 1em; }
  .feed .new-post button {
    margin-right: 1em; }
  .feed .post .post-content, .feed .post .post-metadata {
    margin-bottom: 0; }
  .feed .post .post-metadata {
    font-size: 0.8em; }
