body {
  background-color: #f4f4f4;
}

.event-well {
  margin: 0 auto;
  max-width: 50em;
  width: 90%;
  padding: 0 2em;

  background-color: #fff;
  border-radius: 5px;
  .event-nav {
  }

  .event-panels {

  }
}
