.container {
  max-width: 32em;

  .new-event {
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1em;
      font-weight: 300;
    }
    textarea {
      margin-bottom: 1em;
    }
    input {
      margin-bottom: 1em;
    }
    button {
      margin-right: 1em;
    }
  }

  .event {
    .panel-title {
      margin-bottom: 0.5em;

      a {
        text-decoration: none;
      }
    }
  }
}
